# IDE settings
.vs/
.vscode/
*.user
*.userprefs
*.suo

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# Temporary files
*.log
*.tmp
*.DS_Store

# Database
**/*.db
**/*.db-shm
**/*.db-wal
