.task-list-filters-item {
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 25px 15px;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  width: 100%;
  background-color: #fff;
}

.task-list-filters-item--selected {
  background-color: #000;
  color: #fff;
}

.task-list-filters-item:hover {
  background-color: #515151;
  color: #fff;
}

.task-list-filters-item:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .task-list-filters-item {
    padding: 20px 14px;
    font-size: 22px;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .task-list-filters-item {
    padding: 16px 12px;
    font-size: 18px;
    border-radius: 16px;
  }
}
