.action-button {
  padding: 25px 20px;
  border-radius: 20px;
  font-size: 28px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  background-color: #ec8d85;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
}

.action-button:hover {
  transform: scale(1.02);
  background-color: #d0675e;
}
 