.action-button {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    text-align: center;
    width: auto;
  }
  
  .action-button:hover {
    background-color: #e49288;
    transform: scale(1.05);
  }
  
  .action-button--add {
    background-color: #4caf50;
    color: white;
  }
  
  .action-button--cancel {
    background-color: #f44336;
    color: white;
  }
  
  .action-button--add:hover {
    background-color: #45a049;
  }
  
  .action-button--cancel:hover {
    background-color: #e53935;
  }
