.task-list-filters {
  display: grid;
  grid-template-columns: repeat(3, minmax(181px, auto));
  gap: 20px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.selected {
  background-color: #e49288;
  color: white;
  border: 2px solid #e49288;
  font-weight: bold;
}

@media (max-width: 768px) {
  .task-list-filters {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media (max-width: 480px) {
  .task-list-filters {
    gap: 20px;
  }
}
